*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.left h1{
    font-size: 20px;
    color: gray;
    font-family: sans-serif;
    text-decoration: underline;
}

.right, .left{
    display: flex;
    align-items: center;
}

.right>*{
    margin: 0 10px;
}

main{
    width: 1000px;
    margin: 0 auto;
}